<component name="libraryTable">
  <library name="Spring" type="spring">
    <CLASSES>
      <root url="jar://F:/xun/4.框架/03.Spring/SpringJar/com.springsource.com.mchange.v2.c3p0-0.9.1.2.jar!/" />
      <root url="jar://F:/xun/4.框架/03.Spring/SpringJar/com.springsource.org.aopalliance-1.0.0.jar!/" />
      <root url="jar://F:/xun/4.框架/03.Spring/SpringJar/com.springsource.org.apache.commons.dbcp-1.2.2.osgi.jar!/" />
      <root url="jar://F:/xun/4.框架/03.Spring/SpringJar/com.springsource.org.apache.commons.logging-1.1.1.jar!/" />
      <root url="jar://F:/xun/4.框架/03.Spring/SpringJar/com.springsource.org.apache.commons.pool-1.5.3.jar!/" />
      <root url="jar://F:/xun/4.框架/03.Spring/SpringJar/com.springsource.org.aspectj.weaver-1.6.8.RELEASE.jar!/" />
      <root url="jar://F:/xun/4.框架/03.Spring/SpringJar/com.springsource.org.aspectj.weaver-sources-1.6.8.RELEASE.jar!/" />
      <root url="jar://F:/xun/4.框架/03.Spring/SpringJar/mysql-connector-java-5.0.8-bin.jar!/" />
      <root url="jar://F:/xun/4.框架/03.Spring/SpringJar/spring-aop-3.2.0.RC2.jar!/" />
      <root url="jar://F:/xun/4.框架/03.Spring/SpringJar/spring-beans-3.2.0.RC2.jar!/" />
      <root url="jar://F:/xun/4.框架/03.Spring/SpringJar/spring-context-3.2.0.RC2.jar!/" />
      <root url="jar://F:/xun/4.框架/03.Spring/SpringJar/spring-core-3.2.0.RC2.jar!/" />
      <root url="jar://F:/xun/4.框架/03.Spring/SpringJar/spring-expression-3.2.0.RC2.jar!/" />
      <root url="jar://F:/xun/4.框架/03.Spring/SpringJar/spring-jdbc-3.2.0.RC2.jar!/" />
      <root url="jar://F:/xun/4.框架/03.Spring/SpringJar/spring-tx-3.2.0.RC2.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>